<div class="user">
  <div class="user__container">
    <div class="user-header">
      <div class="user-header__search-control">
        <button (click)="onSearchChanged()">Search</button>
      </div>
      <div class="user-header__actions">
        <button (click)="onUserCreated()">New</button>
      </div>
    </div>
    <div class="user-body">
      <div class="user-body__table">
        Table

        {{(userQuery.users$ | async) | json}}
      </div>
      <div class="user-body__pagination">
        Pagination {{userQuery.totalCount$ | async }}

        <button (click)="onPageChanged()">Page</button>
      </div>
    </div>

  </div>
</div>
