<atenea-loader
  *ngIf="(userQuery.loading$ | async) as loading"
  [show]="loading"
  [opacity]="0.85">
</atenea-loader>

<div class="user">
  <div class="user__container">
    <div class="user-header">
      <div class="user-header__search-control">
        <atenea-search-control
          (search)="onSearchChanged($event)"
        ></atenea-search-control>

      </div>
      <div class="user-header__actions">
        <button (click)="onUserCreated()">New</button>
      </div>
    </div>
    <div class="user-body">
      <div class="user-body__table">
        <atenea-list>
          <thead table-header>
            <tr>
              <th *ngFor="let header of headers">{{header}}</th>
            </tr>
          </thead>
          <tbody table-body>
            <tr *ngFor="let user of (userQuery.users$ | async)">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>
                <button (click)="onModalOpened(user)">Show Learnings</button>
                <button (click)="onUserDeleted(user)">Delete</button>
              </td>
            </tr>
        </atenea-list>
      </div>
      <div class="user-body__pagination">
        <atenea-pagination
          [paging]="(userQuery.paging$ | async)"
          [options]="pageOptions"
          (pageChanged)="onPageChanged($event)"
        ></atenea-pagination>
      </div>
    </div>

  </div>
</div>
